body{
    background: rgb(83, 83, 194);
}
.content{
    margin-top:5%;
    border-style: solid;
    width: 50%;
    height: 300%;
    margin-left: 25%;
    background: rgb(46, 85, 156);
}
.h1{
    margin-left: 35%;
    color:#eec;
}
/* .image{ */
    /* width:10px
} */
.input{
    margin-left: 10%;
}
#username, #password, #email{
    width: 70%;
    background: rgb(34, 46, 70);
    color: cornsilk;
    border: none;
    
}
#btn-login{
    background: rgb(159, 188, 241);
    border-color: darkcyan;
    width: 30%;
    margin-left: 40%;
}


